.ui-icon-customcalendar {  
    background-image: url("/prestacao-de-contas/resources/img/16/calendar.png") !important;  
} 

.ui-icon-customdelete {  
    background-image: url("/prestacao-de-contas/resources/img/16/delete.png") !important;  
} 

.ui-icon-customadd {  
    background-image: url("/prestacao-de-contas/resources/img/16/add.png") !important;  
} 

.ui-icon-customedit {  
    background-image: url("/prestacao-de-contas/resources/img/16/edit.png") !important;  
} 

.ui-icon-customsearch {  
    background-image: url("/prestacao-de-contas/resources/img/16/search.png") !important;  
} 

.ui-icon-customcheck {  
    background-image: url("/prestacao-de-contas/resources/img/16/check.png") !important;  
} 

.ui-icon-custompreview {  
    background-image: url("/prestacao-de-contas/resources/img/16/preview.png") !important;  
} 

.ui-icon-customupload {  
    background-image: url("/prestacao-de-contas/resources/img/16/upload.png") !important;  
} 

.ui-icon-customlogin {  
    background-image: url("/prestacao-de-contas/resources/img/16/login.png") !important;  
} 

.ui-icon-customlogout {  
    background-image: url("/prestacao-de-contas/resources/img/16/logout.png") !important;  
} 

.ui-icon-customprint {  
    background-image: url("/prestacao-de-contas/resources/img/16/print.png") !important;  
} 

.ui-icon-customactive {  
    background-image: url("/prestacao-de-contas/resources/img/16/active.png") !important;  
} 

.ui-icon-custominactive {  
    background-image: url("/prestacao-de-contas/resources/img/16/inactive.png") !important;  
} 

.ui-icon-customcog {  
    background-image: url("/prestacao-de-contas/resources/img/16/cog.png") !important;  
}

.ui-icon-customshield {  
    background-image: url("/prestacao-de-contas/resources/img/16/shield.png") !important;  
}  

.ui-icon-customclip {  
    background-image: url("/prestacao-de-contas/resources/img/16/clip.png") !important;  
}  

.ui-icon-customfile {  
    background-image: url("/prestacao-de-contas/resources/img/16/file.png") !important;  
}  

.ui-icon-customformin {  
    background-image: url("/prestacao-de-contas/resources/img/16/form_in.png") !important;  
}

.ui-icon-customarrow-right {  
    background-image: url("/prestacao-de-contas/resources/img/16/arrow_right.png") !important;  
}

.ui-icon-customform {  
    background-image: url("/prestacao-de-contas/resources/img/16/forms.png") !important;
}

.ui-icon-send {  
    background-image: url("/prestacao-de-contas/resources/img/16/send.png") !important;
}

.ui-icon-history {  
    background-image: url("/prestacao-de-contas/resources/img/16/history.png") !important;
}

.ui-icon-email-history {  
    background-image: url("/prestacao-de-contas/resources/img/16/email_history.png") !important;
}

.ui-icon-thumbsdown {  
    background-image: url("/prestacao-de-contas/resources/img/16/thumbs_down.png") !important;
}

.ui-icon-thumbsup {  
    background-image: url("/prestacao-de-contas/resources/img/16/thumbs_up.png") !important;
}

.ui-icon-reopen {  
    background-image: url("/prestacao-de-contas/resources/img/16/reopen.png") !important;
}

.ui-icon-cancelar {  
    background-image: url("/prestacao-de-contas/resources/img/16/cancelar.png") !important;
}
