.cinco_por_cento {
	width: 5%;
}

.sete_por_cento {
	width: 7%;
}

.dez_por_cento {
	width: 10%;
}

.onze_por_cento {
	width: 11%;
}

.doze_por_cento {
	width: 12%;
}

.quinze_por_cento {
	width: 15%;
}

.vinte_por_cento {
	width: 20%;
}

.trinta_por_cento {
	width: 30%;
}

.quarenta_por_cento {
	width: 40%;
}

.cinquenta_por_cento {
	width: 50%;
}

.sessenta_por_cento {
	width: 60%;
}

.setenta_por_cento {
	width: 70%;
}

.oitenta_por_cento {
	width: 80%;
}

.noventa_por_cento {
	width: 90%;
}

.none {
	
}