<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="cadastro">
				
				<p:outputPanel>
					<h2>Usuario - Permissões</h2>
				</p:outputPanel>
				
				<br/>
				
				<p:panel>
					<p>Usuario</p>
					
					<o:field label="Nome" 
								id="fieldNome">
						<p:inputText label="Nome" 
								id="campoNome"
								value="#{usuarioManagedBean.usuario.nome}" 
								required="true"
								onkeyup="up(this)"
								size="60"
								disabled="true"/>
					</o:field>
				
				</p:panel>
				
				<br/>
				
				<p:panel>
					<p>Grupo</p>
					
					<p:messages id="pmessagesGrupo"/>
			
					<p:dataTable emptyMessage="Nenhum registro" 
							value="#{usuarioManagedBean.listaGrupo}" 
							var="grupo" 
							id="tableGrupo"
							paginator="false">
							
						<p:column headerText="Nome">
							#{grupo.nome}
						</p:column>
						
						<p:column style="width: 35px; text-align: right">
						
							<p:commandButton onclick="if (!window.confirm('Deseja remover do grupo??') ) {return false}" 
									actionListener="#{usuarioManagedBean.remover(grupo)}" 
									title="Remover" 
									icon="ui-icon-customactive"
									rendered="#{usuarioManagedBean.usuarioHaveGrupo(grupo)}"
									update=":cadastro:tableGrupo :cadastro:tablePermissao :pgrowl :cadastro:pmessagesGrupo :cadastro:pmessagesPermissao"/>
							
							<p:commandButton onclick="if (!window.confirm('Deseja adicionar ao grupo??') ) {return false}" 
									actionListener="#{usuarioManagedBean.adicionar(grupo)}" 
									title="Adicionar" 
									icon="ui-icon-custominactive"
									rendered="#{not usuarioManagedBean.usuarioHaveGrupo(grupo)}"
									update=":cadastro:tableGrupo :cadastro:tablePermissao :pgrowl :cadastro:pmessagesGrupo :cadastro:pmessagesPermissao"/>
							
						</p:column>
					</p:dataTable>
				</p:panel>
				
				<br/>
				
				<p:panel>
					<p>Permissao</p>
					
					<p:messages id="pmessagesPermissao"/>
			
					<p:dataTable emptyMessage="Nenhum registro" 
							value="#{usuarioManagedBean.listaPermissao}" 
							var="permissao" 
							id="tablePermissao"
							paginator="false">
							
						<p:column headerText="Nome">
							#{permissao.nome}
						</p:column>
						
						<p:column style="width: 35px; text-align: right">
						
							<p:commandButton onclick="if (!window.confirm('Deseja remover a permissao??') ) {return false}" 
									actionListener="#{usuarioManagedBean.remover(permissao)}" 
									title="Remover" 
									icon="ui-icon-customactive"
									rendered="#{usuarioManagedBean.usuarioHavePermissao(permissao)}"
									update=":cadastro:tablePermissao :pgrowl :cadastro:pmessagesPermissao"/>
							
							<p:commandButton onclick="if (!window.confirm('Deseja adicionar a permissao??') ) {return false}" 
									actionListener="#{usuarioManagedBean.adicionar(permissao)}" 
									title="Adicionar" 
									icon="ui-icon-custominactive"
									rendered="#{not usuarioManagedBean.usuarioHavePermissao(permissao)}"
									update=":cadastro:tablePermissao :pgrowl :cadastro:pmessagesPermissao"/>
							
						</p:column>
					</p:dataTable>
				</p:panel>
				
				
				<br/>
				<div class="buttonBar">
					<p:commandButton value="Voltar" 
							action="pretty:pesquisarUsuario" 
							ajax="false" 
							immediate="true"/>
				</div>
				
			</h:form>
		</ui:define>
	</ui:decorate>

</html>
