<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:composition template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="formListaPermissaos">
				
				<p:messages id="pmessages"/>
			
				<p:dataTable emptyMessage="Nenhum registro" 
						value="#{permissaoManagedBean.listaPermissao}" 
						var="permissao" 
						id="tablePermissaos"
						lazy="true"
						sortBy="nome"
						sortOrder="ASCENDING"
						rows="100">
						
					<f:facet name="header">
						<h:outputLabel value="Permissões"/>
					</f:facet>
						
					<p:column headerText="Nome">
						#{permissao.nome}
					</p:column>
					
				</p:dataTable>
				
			</h:form>
		</ui:define>
	</ui:composition>
</html>
