<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui">

   <f:loadBundle var="messages" basename="messages" />
	
   <h:head>
      <title>Prestação de Contas de Relatórios de Viagens</title>
      <h:outputStylesheet name="style.css" library="css"/>
      <h:outputStylesheet name="table_gradient.css" library="css"/>
      <h:outputStylesheet name="widths.css" library="css"/>
      <h:outputStylesheet name="icons.css" library="css"/>
      
      <h:outputStylesheet library="primefaces" name="components.css" />
	  <h:outputScript library="primefaces" name="core.js" />
	  <h:outputScript library="primefaces" name="components.js" />
	  <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" />
      
      <style>
          ul.ui-menu-child {
              width: 175px !important;
          }
      </style>
      
      <link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet"/>
      <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon/favicon.ico"/>
      
      <script src="#{facesContext.externalContext.requestContextPath}/resources/js/locale-primefaces.js" type="text/javascript"/>
      
      <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.limit-1.3.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.price_format.1.5.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.alphanumeric.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/javascript.js" type="text/javascript"/>
      
      <script type="text/JavaScript">
		  function up(lstr){
		    var str=lstr.value;
		    lstr.value=str.toUpperCase();
		  }
		  function down(lstr){
		    var str=lstr.value;
		    lstr.value=str.toLowerCase();
		  }
		  
		  function numericFilter(txb) {
			txb.value = txb.value.replace(/\D/g,"");
		  }

		  function focusElement(id){
			var e = document.getElementById(id);
			e.focus();
		  }

		  function hideDialogAfterSuccess(args, dialog){
			if (args &amp;&amp; !args.validationFailed)
				dialog.hide();
		  }

		  function moeda(z){  
			v = z.value;
			v = v.replace(/\D/g,"")  //permite digitar apenas números
			v = v.replace(/[0-9]{12}/,"inválido")   //limita pra máximo 999.999.999,99
			v = v.replace(/(\d{1})(\d{8})$/,"$1.$2")  //coloca ponto antes dos últimos 8 digitos
			v = v.replace(/(\d{1})(\d{5})$/,"$1.$2")  //coloca ponto antes dos últimos 5 digitos
			v = v.replace(/(\d{1})(\d{1,2})$/,"$1:$2")        //coloca virgula antes dos últimos 2 digitos
			z.value = v;
		  }


		  function mascara_telefone(o){
				v_obj=o
				v_fun=mtel
				setTimeout("execmascara()",1)
			}
			function execmascara(){
				v_obj.value=v_fun(v_obj.value)
			}
			function mtel(v){
				v=v.replace(/\D/g,"");//Remove tudo o que não é dígito
				v=v.replace(/^(\d{2})(\d)/g,"($1) $2");//Coloca parênteses em volta dos dois primeiros dígitos
				v=v.replace(/(\d)(\d{4})$/,"$1-$2");//Coloca hífen entre o quarto e o quinto dígitos
				return v;
			}
			function id( el ){
				return document.getElementById( el );
			}
					  
	  </script>
	  
	  <script type="text/javascript">
	  	window.history.forward();
	   	function noBack() { window.history.forward(); }
	  </script>
      
      <ui:insert name="head"/>
   </h:head>
	<h:body onload="noBack();"
   	  	    onpageshow="if (event.persisted) noBack();" 
   		    onunload="">
   		   
		<p:outputPanel id="pgrowl" ajaxRendered="true">
			<p:growl id="growl"
				sticky="false"  
				showSummary="true" 
				showDetail="true" 
				globalOnly="false"
				autoUpdate="true"/>
		</p:outputPanel>
      
      <div id="geral">

		  <div id="header">
		  	<div style="width: 1050px; margin: auto;">
		  		<div id="contentHeader">
			  		<div style="font-family: 'Antic Slab', serif">
				    	<div style="font-size: 40px; font-weight: bold;">
				    		PCRV
			    		</div>
				    	<div style="font-size: 20px;">
				    		Prestação de Contas de Relatórios de Viagens
			    		</div>
				    </div>
				</div>
			</div>​
		  </div>
		
	   	  <div id="content">
	   	  	<div id="formulario">
	   	  		<h:form>
	                <p:menubar rendered="#{loginManagedBean.usuarioAutenticado}">
						<p:menuitem value="Dashboard" 
								url="/dashboard.jsf" />
								
						<p:menuitem value="Viagem" 
								url="/prestacaodecontas/pesquisar" />
						
						<p:submenu label="Relatórios"
			                		rendered="#{loginManagedBean.usuarioAutenticado}">
			                	<p:menuitem value="Geral" 
		               	    			url="/relatorios/geral"/>
		               	    	<p:menuitem value="Viagens em Aberto" 
		               	    			url="/relatorios/emaberto"/>
		               	    	<p:menuitem value="Viagens Reprovadas" 
		               	    			url="/relatorios/reprovadas"/>
		               	    	
               	    	</p:submenu>
						
               	    	<p:submenu label="Painel de administração"
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityAdmin()}">
	               	    	<p:submenu label="Controle de acesso">
		               	    	<p:menuitem value="Usuários" 
		               	    			url="/pages/usuario/lista.jsf"/>
		               	    	<p:menuitem value="Grupos" 
		               	    			url="/pages/security/grupo/lista.jsf"/>
		               	    	<p:menuitem value="Permissões" 
		               	    			url="/pages/security/permissao/lista.jsf"/>
	               	    	</p:submenu>
	               	    	
	               	    	<p:menuitem value="Parametros" 
		               	    			url="/parametros/pesquisar"/>
               	    	</p:submenu>
               	    	
               	    	
               	    			
						
               	    	<f:facet name="options">
               	    		<p:menuButton value="#{loginManagedBean.userSecurity.usuario.primeiroNome}">
               	    			<p:menuitem value="Dados da conta" 
	               	    			action="pretty:selfUsuario"/>
		               	    	<p:menuitem value="Logout" 
		               	    			url="/logout"/>
               	    		</p:menuButton>
               	    	</f:facet>
               	    	
	                </p:menubar>
				</h:form>
				<br/>
	   	  	
   	  			<ui:insert name="body"/>
	   	  	</div>
	   	  	
	   	  	<div style="padding-left: 25px; padding-right: 25px">
	   	  	<ui:insert name="bodyFull"/>
	   	  </div>
	   	  </div>
	   	  
	   	  
		
		  <div id="footer">
		  	Versão #{messages.version} #{messages.state}
		  </div>
	
	  </div>
	  
	  <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
	  	<f:facet name="start">  
	    	<p:graphicImage value="/resources/img/ajax-loader.gif" />  
	    </f:facet>  
	  
	    <f:facet name="complete">
	        <h:outputText value="" />  
	    </f:facet>  
	  </p:ajaxStatus>  
	  
	  <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	  
	  <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	    <p:graphicImage value="/resources/img/ajax-loader.gif" />
	  </p:dialog>
      
   </h:body>
</html>