<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:composite="http://java.sun.com/jsf/composite"
   xmlns:p="http://primefaces.org/ui">

<!-- 	<composite:interface componentType="org.jboss.seam.faces.InputContainer"/> -->

	<composite:interface componentType="customInputContainer">
		<composite:attribute name="label"/>
		<composite:attribute name="rendered"/>
	</composite:interface>
	
	<composite:implementation>
		<div class="fieldComponent">
			<div class="#{cc.attrs.invalid?'error':''}">
				<h:outputLabel styleClass="label" 
						value="#{cc.attrs.label}" >
					<h:outputText styleClass="required" 
							rendered="#{cc.attrs.required}" 
							value="*"/>
				</h:outputLabel>
				
				<span class="value">
					<h:panelGroup rendered="#{cc.attrs.rendered}">
						<composite:insertChildren/>
					</h:panelGroup>
				</span>
				<br />
				<span>
					<h:graphicImage value="/resources/img/16/error.gif" 
							rendered="#{cc.attrs.invalid}" />
					<h:message styleClass="errorMessage"/>
				</span>
			</div>
		</div>
	</composite:implementation>
   
   
</html>