<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="cadastro">
				
				<p:outputPanel>
					<h2>Informe uma nova senha</h2>
				</p:outputPanel>
				
				<p:panel>
					<p>Dados de Acessos</p>
					<o:field label="Login">
						<p:inputText label="Login" 
								value="#{recoverUsuarioManagedBean.usuario.id}" 
								required="true" 
								size="65" 
								maxlength="140" 
								disabled="true"/>
					</o:field>
					
					<o:field label="Senha">
						<p:password id="senha1" 
								label="Senha 1" 
								value="#{recoverUsuarioManagedBean.password}" 
								required="true"
								size="65" 
								feedback="true" 
								maxlength="140"/>
					</o:field>
					
					<o:field label="Digita a senha novamente" id="fieldSenha2">
						<p:password id="senha2" 
								label="Senha 2" 
								value="#{recoverUsuarioManagedBean.passwordRetype}" 
								required="true" 
								size="65" 
								feedback="true" 
								maxlength="140"/>
					</o:field>
				</p:panel>
				
				<br/>
				<div class="buttonBar">
					<p:commandButton value="Salvar" 
							action="#{recoverUsuarioManagedBean.atualizarSenha()}" 
							ajax="false"/>
							
					<p:commandButton value="Cancelar" 
							action="pretty:login" 
							ajax="false" 
							immediate="true"/>
				</div>
				
			</h:form>
		</ui:define>
	</ui:decorate>
	
</html>
